* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

ul,
ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
h4{
  font-family: "Open Sans Semibold";
  font-size: 0.8rem;
}
/* end reset */
@font-face {
  font-family: "Open Sans Semibold";
  src: url("./fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("./fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("./fonts/OpenSans-Regular.woff2") format("woff2"),
    url("./fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Extrabold";
  src: url("./fonts/OpenSans-ExtraBold.woff2") format("woff2"),
    url("./fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Medium";
  src: url("./fonts/OpenSans-Medium.woff2") format("woff2"),
    url("./fonts/OpenSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("./fonts/OpenSans-Bold.woff2") format("woff2"),
    url("./fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Light";
  src: url("./fonts/OpenSans-Light.woff2") format("woff2"),
    url("./fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #d9d9d9;
  font-family: "Open Sans Regular";
}
h2 {
  font-family: "Open Sans Semibold";
}
.logo {
  position: fixed;
  left: 1%;
  bottom: 2%;
}
.center {
  display: flex;
  justify-content: center;
  background-color: #1c4e7d;
  color: white;
  padding: 10px;
}
.block {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid black;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
}
#section1 {
  border-right: 1px solid black;
  height: 100%;
}
.dataEntrate p{
  margin: 0 5px;
  font-size: 0.8rem;
}
.data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  background-color: #417716;
  padding: 8px;
  border-radius: 10px;
  color: white;
  margin: 5px;
}
.data p{
  font-size: 0.8rem;
}
.data:nth-child(2n) {
  background-color: #7e9e64;
}

/* end of section 1 */
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}
#entrate,
#uscite {
  margin-bottom: 8px;
}
#uscite {
  border-left: 1px solid black;
}
#entrate h2 {
  margin-left: 15px;
}
#entrate span {
  margin-left: 15px;
}
#uscite h2 {
  margin-left: 15px;
}
#uscite span {
  margin-left: 15px;
}
.graph {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.block2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-bottom: 1px solid black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
}
.block2 h4 {
  margin: 0 5px;
}
.dataEntrate {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  background-color: #417716;
  padding: 8px;
  border-radius: 10px;
  color: white;
  margin: 5px;
}
.dataEntrate:nth-child(2n) {
  background-color: #7e9e64;
}

/* end of top section of section2 */
.block3 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-bottom: 1px solid black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
}
.dataStock {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  background-color: #417716;
  padding: 8px;
  border-radius: 10px;
  color: white;
  margin: 5px;
}
.dataStock p{
  font-size: 0.8rem;
}
.dataStock:nth-child(2n) {
  background-color: #7e9e64;
}
.cont {
  padding: 10px;
}
.cont p {
  color: black;
  text-align: center;
  font-family: "Open Sans Regular";
  margin-bottom: 0.5rem;
}
.lightgray {
  padding: 2px;
  background-color: #1c4e7d;
  border-radius: 25px;
}
.orange {
  background-color: rgb(200, 90, 90);
  height: 24px;
  border-radius: 25px;
  color: white;
  min-width: 8%;
}
/* end of section2 */

#section3 {
  border-left: 1px solid black;
}
header {
  display: none;
}

@media (max-width: 800px) {
  body {
    display: block;
    grid-template-columns: 1fr;
  }
  .grid2 {
    display: block;
    grid-template-columns: 1fr;
  }
  header {
    display: block;
  }
  header div {
    display: flex;
    justify-content: center;
    margin: 5px;
  }
  .logo {
    display: none;
  }
}
